body {
    padding: 0px !important;
}

.mainPanel {
    background: transparent !important;
}

.widgetFrame {
    background: #FFFFFF;
}

.widgetBody {
    background: #FFFFFF !important;
}

.btnOver {
    border-color: #102540;
    background-color: #FFFFFF;
}

.banner {
	vertical-align:bottom;
	text-align:right;
	background-image:url(../../images/accelerated-servers-logo.png);  /** jawr:base64 */
	background-repeat:no-repeat;
	font-size:12px;
    background-position: 10px;
	padding-bottom:2px;
    height: 50px;
    color: #FFFFFF;
}

.logo {
    vertical-align: bottom;
/**    background-image:url(../../images/Academi_logo.png);
    background-repeat:no-repeat;
    background-position: center;      */
    height: 0px;
}

/**
 * Ext.ux.tab.Toolbar styles
 */
.x-tab-toolbar-right { z-index: 6; float: right; }
.x-tab-toolbar-right .x-tab-toolbar { padding: 0 2px; border-width: 0 0 0 1px; }
.x-tab-toolbar-left { z-index: 6; float: left; }
.x-tab-toolbar-left .x-tab-toolbar { padding: 0 2px; border-width: 0 1px 0 0; }

.sw-alert-header { color: #FF0000; }
.x-btn-default-toolbar-small .sw-alert-header { color: #FF0000; }