<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.1.xsd
       ">

	<context:property-placeholder location="classpath*:*.properties"/>
	<context:annotation-config/>
	<context:component-scan base-package="org.o2e">
		<context:exclude-filter type="regex" expression="org.o2e.util.KeyStoreUtil"/>
		<context:exclude-filter type="regex" expression="org.o2e.camel.OoeHttpClientConfigurer*"/>
	</context:component-scan>
	<context:mbean-export/>
	<aop:aspectj-autoproxy proxy-target-class="false"/>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="cometMessageQueue" method="flush" fixed-delay="250"/>
		<task:scheduled ref="cometMessageQueue" method="garbageCollect" fixed-delay="30000"/>
	</task:scheduled-tasks>

	<import resource="classpath:o2e-cometd.xml"/>
	<import resource="classpath:o2e-mongo.xml"/>
	<import resource="classpath:o2e-dynamic-camel.xml"/>
	<import resource="sc-context.xml"/>
	<import resource="sc-security.xml"/>

</beans>